@import "color";
@import "font";

h1, h2, h3, h4, h5, h6 {
  font-family: $hel-95;
  color: $black;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

p {
  white-space: pre-line;
}

span:hover{
  cursor: pointer;
  text-decoration: none;
}

footer {
  margin-top: 100px;
  padding-bottom: 60px;
  padding-top: 20px;
  padding-left: 165px !important;
  padding-right: 165px !important;
  background-color: $yellow;
}

.border-modal {
  border-radius: 8px !important;
}

.logo {
  width: 67.82px;
}

.icon-categories-shop {
  width: 30px;
  height: 30px;
}

.navbar-collapse {
  & .navbar-nav:nth-last-child(1) {
    @media (max-width: 576px) {
      margin-left: 24px !important;
    }
  }
}

.active {
  border-bottom: 2px solid $yellow;
}

.nav-link p {
  margin-bottom: 0px !important;
}

.img-round {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.scroll-overflow {
  overflow-y: scroll;
  height: 250px;
}

/***********************************************************/
/************************ LOADING **************************/
/***********************************************************/

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  display: flex;
  align-items: center;
}

.obj {
  width: 6px;
  height: 0px;
  background: white;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}

.obj:nth-child(2){
  animation-delay: 0.1s;
}
.obj:nth-child(3){
  animation-delay: 0.2s;
}
.obj:nth-child(4){
  animation-delay: 0.3s;
}
.obj:nth-child(5){
  animation-delay: 0.4s;
}
.obj:nth-child(6){
  animation-delay: 0.5s;
}
.obj:nth-child(7){
  animation-delay: 0.6s;
}
.obj:nth-child(8){
  animation-delay: 0.7s;
}

@keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

/***********************************************************/
/****************** LIST ITEM UTILITIES ********************/
/***********************************************************/

%list-custom {
  list-style: none;
  cursor: pointer;
}

.list-footer li{
  @extend %list-custom;
  color: #fff;
  font-family: $hel-bold;
  padding-bottom: 13.5px;
}

.list-archive {
  @extend %list-custom;
  padding: 0;
  & li {
    padding-bottom: 5px;
  }
  & a p {
    margin-bottom: 5px;
  }
}

.list-profile{
  @extend %list-custom;
  padding: 0;
}

.list-categories-shop {
  cursor: pointer;
  width: 100%;
  height: 47px;
  background-color: $yellow;
  border: 2px solid $yellow;
  border-radius: 20px;
  &.active {
    background-color: white;
    border: 2px solid $yellow;
  }
}

/******************************************************/
/****************** TEXT UTILITIES ********************/
/******************************************************/

.text {
  &-hel-reg {
    font-family: $hel-reg;
  }

  &-hel-bold {
    font-family: $hel-bold;
  }

  &-hel-95 {
    font-family: $hel-95;
  }

  &-os-reg {
    font-family: $os-reg;
  }

  &-os-bold {
    font-family: $os-bold;
  }

  &-s{
    font-size: $font-s;
  }

  &-m {
    font-size: $font-m;
  }

  &-ml {
    font-size: $font-ml;
  }

  &-l {
    font-size: $font-l;
  }

  &-xl {
    font-size: $font-xl;
  }

  &-black {
    color: $black;

    &:hover:not(p) {
      color: $black-light;
    }

    &-light {
      color: $black-light;
    }
  }

  &-yellow {
    color: $yellow;

    &:hover:not(p) {
      color: $yellow-light
    }
  }

  &-white{
    color: $white;
  }
}
