@import "color";
@import "font";

h1, h2, h3, h4, h5, h6 {
  font-family: $hel-95;
  color: $black;
}

a {
  color: $black;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $black-light;
  }
}

footer {
  margin-top: 100px;
  padding-bottom: 60px;
  padding-top: 20px;
  padding-left: 165px !important;
  padding-right: 165px !important;
  background-color: $yellow;
}

.border-modal {
  border-radius: 8px !important;
}

.logo {
  width: 67.82px;
}

.icon-categories-shop {
  width: 30px;
  height: 30px;
}

/***********************************************************/
/****************** LIST ITEM UTILITIES ********************/
/***********************************************************/

%list-custom {
  list-style: none;
  cursor: pointer;
}

.list-footer li{
  @extend %list-custom;
  color: #fff;
  font-family: $hel-bold;
  padding-bottom: 13.5px;
}

.list-archive li {
  @extend %list-custom;
  padding-bottom: 5px;
}

.list-categories-shop {
  width: 100%;
  height: 47px;
  background-color: $yellow;
  border-radius: 20px;
}

/******************************************************/
/****************** TEXT UTILITIES ********************/
/******************************************************/

.text {
  &-hel-reg {
    font-family: $hel-reg;
  }

  &-hel-bold {
    font-family: $hel-bold;
  }

  &-hel-95 {
    font-family: $hel-95;
  }

  &-os-reg {
    font-family: $os-reg;
  }

  &-os-bold {
    font-family: $os-bold;
  }

  &-s{
    font-size: $font-s;
  }

  &-m {
    font-size: $font-m;
  }

  &-ml {
    font-size: $font-ml;
  }

  &-l {
    font-size: $font-l;
  }

  &-xl {
    font-size: $font-xl;
  }

  &-black {
    color: $black;

    &:hover {
      color: $black-light;
    }
  }

  &-yellow {
    color: $yellow;

    &:hover {
      color: $yellow-light
    }
  }

  &-white{
    color: $white;
  }
}
